@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR  */
nav {
    display: flex;
    position: fixed;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}
.nav-opacity {
    opacity: 0.33;
  }
.hiddenMobile {
    display: none;
}

nav ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
}
 
nav ul li {
    font-size: 18px;
    list-style-type: none;
    padding-right: 10px;
}


